*{
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;

}
body{
    background: rgb(16, 39, 99);
    height: 100vh;
}
.chapsters{
    display: flex;
    justify-content: end;
    cursor: pointer;
    padding: 30px;
}
.about{
    max-width: calc(100vw / 1920 * 150);
}
.about:hover{
    filter: drop-shadow(0 0 5px black);
    transition: 0.5s;
}
.close_menu_block{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: rgb(63, 63, 63);
    top: -100vh;
}
.close_menu{
    line-height: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.cross{
    max-width: calc(100vw / 1920 * 150);
}
.cross:hover{
    filter: drop-shadow(0 0 5px black);
}
ul{
    margin: 0;
    padding: 0;
}
.link_chapsters{
    height: 100vh;
    width: 100%;
}

.link_tab{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;
}
.dicor{
    text-decoration: none;
    color: white;
    font-size: 3rem;
}
.dicor:hover{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
main{
    height: 80vh;
    display: flex;
    align-items: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

}
.logo{
    width: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    flex-shrink: 1;
    margin: 30px;
}
.transit{
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.transit:hover{
    font-size: 35px;
}
